<div >
  <div class="card" style="width: 18rem;"  >
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">produit {{p.id}}</h5>
      <p class="card-text">
        id: {{p.id}} ** title : {{p.title}} ** price : {{p.price}} ** quantity : {{p.quantity}}    ** like {{p.like}}

      </p>
      <button class="btn btn-info" [routerLink]="['/detailproduct',p.id]">Plus de détail</button>
      <button class="btn btn-primary"[disabled]="p.quantity<=0" (click)="sendNotif1()"  > buy </button>
      <button class="btn btn-primary" [disabled]="p.like<=23" (click)="sendNotif()" > Like !!</button>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

  </div>
</div>

