
<h1>{{title}}</h1>



<h1 class="title">{{title}}</h1>
<input type="number" name="price" [(ngModel)]="priceMax">
<div class="row">
<div class="col-md-4" *ngFor="let p of listProduct, let i=index">
    <div *ngIf="p.price<priceMax || priceMax==null">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{p.title}}</h5>
      <p class="card-text">Price:{{p.price}}</p>
      <p class="card-text">Qauntity:{{p.quantity}}</p>
      <p class="card-text">Like:{{p.like}}</p>
      <button id="b1" class="btn btn-primary" (click)="buy(i)" [disabled]="p.quantity==0">Buy</button>
      <button class="btn btn-primary" (click)="like(i)" style="margin-right: 20%;">Like</button>
      <button class="btn btn-primary" [routerLink]="['/product',p.id]"style="margin-right: 20%;">Detail</button>
    </div>
  </div>
</div>
</div>
</div>
